*{
    text-decoration: none;
    list-style: none;
}
body{ 
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#cabecalho{
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 4px;
    background-color: black;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 90%;
}

ul li{
    display: inline-block;
}

ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 5px;
    text-transform: uppercase;
}
a:hover{
    background: yellow;
    transition: .5s;   
}

#titulo{
    text-align: center;
    font-size: 20px;
    margin-top: 10%;
    margin-bottom: 2%;
}

#img{
  max-width: 100%;
}

#corpo{
    padding: 10%;
    padding-top: 0;
    margin: 5%;
    text-align: justify;
    background-color: #F3F0EE;
}

#rodape{
    text-align: center;
    padding-top: 5%;
}